.App {
  position: absolute;
  text-align: center;
  max-width: 100%;
}

.App-content {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  position: relative;
  background-color: black;
  overflow: hidden;
}

.App-footer {
  width: 100%;
  height: 10vh;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  background: radial-gradient(circle,rgba(18, 20, 30, 1) 0%, rgba(22, 0, 26, 0.9) 100%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse-animation 2.5s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

@media only screen and (max-width: 756px) {
    .App-footer {
      height: 20vh;
      font-size: 1.1rem;
    }
}