.App {
  position: absolute;
  text-align: center;
  max-width: 100%;
}

.App-content {
  margin-top: 100vh;
  min-height: 50vh;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: white;
  position: relative;
  background-color: black;
  overflow: hidden;
}

.App-footer {
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  background-color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulse {
  animation: pulse-animation 2.5s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

