.App-header {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: fixed;
}

.Name_Nick-group {
    height: 100vh;
    color: white;
    z-index: 0;
    align-content: center;
}

.Job-inline { 
    display: inline-block; 
    padding: 10px 2px;
}

.Background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}