.Navbar-container {
    max-width: fit-content;
    max-height: fit-content;
    inset: 0px;
    position: fixed;
    margin-left: auto; 
    margin-right: auto; 
    top: 20px;
}

.Navbar-background {
    border-radius: 2rem;
    background-image: linear-gradient(to bottom right, Purple, DarkSlateBlue);
    opacity: 0.9;
    box-shadow: 10px 10px 5px black;
}

.Navbar-element {
    display: inline-block;
    padding: 10px 5px;
    margin: 20px;
    text-decoration: none;	
	border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    transition: 0.3s;
    cursor: none;
    opacity: 1;
}

.Navbar-element:hover {
    font-size: 1.75rem;
    color: #ee0b5c;
}

.Navbar-element:active {
    font-size: 1.75rem;
    color: #a716b0;
}