.tag-button {
    padding: 4px 2px;
    background-color: #a716b0;
    border-radius: 0.5em;
    border: none;
    margin: 5px 1px;
    width: 100%;
    margin-left: auto;
    color: whitesmoke;
    text-shadow: 2px 2px 6px #000000;
    font-variant: small-caps;

}

.tag-button:hover {
    background-color: rgba(200, 200, 200, 1);
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.fade-in
{
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card {
    width: calc(33% - 30px);;
    margin: 10px;
    border-radius: 12px;
    position: relative;
}

.card:hover {
  filter: drop-shadow(2px 2px 10px #a716b0);
}

.cardImage {
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 2px solid rgba(245, 245, 245, 0.85);
}
  
.close {
    border: none;
    padding: 10px;
    background-color: rgba(238, 11, 92, 0.9);
    color: whitesmoke;
    margin: 1px 5px !important;
}

.tag-filter {
    position: relative;
    justify-content: center;
    padding: 20px 10px;
}

.tags-container {
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 30px auto;
}
  
@media only screen and (max-width: 1200px) {
    .card {
        width: calc(50% - 30px);
    }
    .tags-container {
        margin: 10px auto;
    }
    .cardImage {
        height: 200px;
    }
}
 
@media only screen and (max-width: 756px) {
    .card {
        width: calc(100% - 20px);
    }
    .tags-container {
        margin: 20px auto;
    }
    .cardImage {
        height: 150px;
    }
}