@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 4vh 0 2vh 0;
  font-size: 5vw;
  margin-bottom: 0px;
}

.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.tag-button {
    padding: 4px 2px;
    background-color: #a716b0;
    border-radius: 0.5em;
    border: none;
    margin: 2px 1px;
    width: 100%;
    margin-left: auto;
    color: whitesmoke;
    text-shadow: 2px 2px 6px #000000;
    font-variant: small-caps;
}

.tag-button:hover {
    background-color: rgba(60, 10, 60, 1);
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.fade-in
{
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card {
    width: calc(33% - 18px);
    margin: 10px;
    border-radius: 12px;
    position: relative;
}

.card:hover {
  filter: drop-shadow(2px 2px 10px #a716b0);
}

.cardImage {
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 2px solid rgba(245, 245, 245, 0.85);
    clip-path: polygon(100% 0, 100% 93%, 86% 87%, 0 98%, 0 42%, 0% 0%);
    background-color: #111111;
}
  
.close {
    border: none;
    padding: 10px;
    background-color: #a716b0;
    color: whitesmoke;
    margin: 5px !important;
    font-size: large;
}

.close:hover {
    background-color: rgba(60, 10, 60, 1);
}

.tag-filter {
    position: relative;
    justify-content: center;
    padding: 20px 10px;
}

.tags-container {    
    width:90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 30px auto;
}
  
@media only screen and (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
    }
    .tags-container {
        margin: 10px auto;
    }
    .cardImage {
        height: 200px;
    }
}
 
@media only screen and (max-width: 756px) {
    .card {
        width: calc(100% - 10px);
    }
    .tags-container {
        margin: 20px auto;
    }
    .cardImage {
        height: 150px;
    }
}